<h1><%= @shelter.name %> Details:</h1>

<l1><b><%= @shelter.name %></b></l1>
<li>Has Foster Program: <%= @shelter.foster_program %></li>
<li>Shelter Rank: <%= @shelter.rank %></li>
<li>City: <%= @shelter.city %></li>


