<h1>All <%= "#{@shelter.name}"%>'s pets</h1>
<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %><br>

<ul id="shelter-pets">
  <% @shelter.pets.each do |pet| %>
  <l1><b><%= pet.name %></b></l1>
  <li>Breed: <%= pet.breed %></li>
  <li>Age: <%= pet.age %></li>
  <li>Is adoptable: <%= pet.adoptable %></li>
  <br></br>
  <% end %>
</ul>